* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edb026;
  width: 100vw;
  max-width: auto;
  max-height: 100%;
}
ul {
  color: rgb(0, 0, 0);
  list-style: none;
  display: flex;
  list-style: none;
}

nav {
  display: flex;
  background-color: #edb026;
  align-items: center;
  justify-content: space-around;
  color: #000000;
  text-decoration: none;
}

li {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 2rem;
}

.logo {
  height: 120px;
  cursor: pointer;
  display: flex;
  margin-right: 10rem;
}

.nosotros {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  line-height: 1.3;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
}

.vision {
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  display: flex;
  margin-left: 1rem;
  margin-top: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  margin: 1rem;
  display: flex;
  width: 50%;
  height: 50%;
}

button {
  background-color: #000000;
  border-color: #ffffff;
  border-style: solid;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 10px;
}
.button {
  display: flex;
  justify-content: space-around;
}
button:hover {
  background-color: black;
  color: #edb026;
  border: none;
}
.contenedor0 {
  display: flex;
  align-items: center;
}
.contenedores {
  display: flex;
  flex-direction: column;
}
.contenedor {
  position: relative;
  display: flex;
  justify-content: center;
}

.encima {
  position: absolute;

  top: 10%;
  color: rgb(255, 217, 217);
  left: 24%;
  font-size: 40px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: #edb026;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 1.4;
  font-weight: 600;
}

.centrado {
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 15px;
  height: 100px;
  left: 55%;
  padding-right: 60%;
  transform: translate(-50%, -50%);
}

.centrado3 {
  position: absolute;
  top: 39.6%;
  color: #fff;
  font-size: 18px;
  height: 100px;
  left: 63%;
}

.centrado2 {
  position: absolute;
  top: 51%;
  color: #fff;
  font-size: 18px;
  left: 8%;
  margin: 10px 10%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.centrado4 {
  position: absolute;
  top: 53%;
  color: #fff;
  font-size: 18px;
  left: 63%;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.bg {
  background-position: center;
  height: 100%;
  width: 105%;
  margin: auto;
  filter: brightness(0.4);
}

a:link,
a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
}

.checkbutton {
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* id */
#check {
  display: none;
}

#logo {
  width: 100px;
  margin: 10px;
  border-radius: 100%;
}

/* media query */

@media (max-width: 699.98px) {
  nav ul li a {
    font-size: 15px;
  }
}

@media (max-width: 1001px) {
  .contenedor .encima {
    font-size: 38px;
  }
}
@media (max-width: 920px) {
  .contenedor .encima .h4 {
    bottom: 20px;
    font-size: 36px;
  }
}
@media (max-width: 880px) {
  .contenedor .encima {
    font-size: 33px;
  }
}

@media (max-width: 827px) {
  .checkbutton {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
    position: absolute;
    width: 120%;
  }
  .banner {
    width: 130%;
    margin-left: 11vh;
  }
  .logo {
    margin-right: 5rem;
    height: 142px;
  }
  #check:checked ~ .nosotros {
    display: flex;
  }
  .contenedor0 {
    display: flex;
    flex-direction: column-reverse;
  }

  .button {
    display: flex;
    margin-left: 8vh;
    width: 76vh;
    margin-bottom: 25px;
  }
  .nosotros {
    margin-left: 9vh;
    text-align: center;
    font-size: 1.7rem;
  }
  .vision {
    margin-left: 9vh;
    text-align: center;
    font-size: 1.7rem;
  }

  .contenedor .encima {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 20px;
    display: flex;
  }
  .bg {
    width: 141%;
  }
  .centrado3 {
    margin-bottom: 10vh;
  }
  .centrado {
    margin-top: 3vh;
    margin-left: 6vh;
  }
  ul {
    display: block;
    position: fixed;
    width: 100%;
    background: #ffffff72;
    top: 159px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
}
nav ul li {
  margin: 20px 0;
}
nav ul li a {
  font-size: 15px;
}

@media (max-width: 720px) {
  .logo {
    margin-right: 0rem;
  }
  .contenedor .encima {
    font-size: 30px;
  }
  .contenedores {
    margin-right: -3rem;
  }
}
@media (max-width: 446px) {
  .logo {
    margin-right: 0rem;
  }
  #check:checked ~ ul {
    width: 126%;
  }
  .banner {
    width: 131%;
  }

  .nosotros {
    font-size: 1.3rem;
  }
  .vision {
    font-size: 1.3rem;
  }
  .contenedores {
    margin-right: -30px;
  }
  .contenedor .encima {
    font-size: 22px;
  }
  li {
    text-align: center;
    font-size: 0.6rem;
  }
  .centrado {
    margin-top: 3.5vh;
    margin-left: 6.2vh;
  }
  .centrado2 {
    left: 16%;
  }
  .bg {
    width: 145%;
  }
}

@media (max-width: 419px) {
  .logo {
    margin-right: -3rem;
  }
  #check:checked ~ ul {
    width: 142%;
  }
  .banner {
    margin-right: -78px;
    width: 143%;
  }

  .nosotros {
    font-size: 24px;
    margin-left: 13vh;
  }
  .vision {
    font-size: 22px;
    margin-left: 11vh;
  }
  .contenedores {
    margin-right: -74px;
  }
  .button {
    margin-left: 10vh;
  }
  .contenedor .encima {
    font-size: 19px;
    margin-left: 56px;
    margin-top: 19px;
  }

  li {
    text-align: center;
    font-size: 0.6rem;
    padding-right: 1rem;
  }
  .centrado {
    margin-top: 2.8vh;
    margin-left: 12.2vh;
  }
  .centrado2 {
    left: 27%;
  }
  .centrado3 {
    left: 71%;
  }
  .centrado4 {
    left: 74%;
  }
  .bg {
    width: 182%;
  }

  @media (max-width: 419px) {
    .logo {
      margin-right: -3rem;
    }
    #check:checked ~ ul {
      width: 142%;
    }
    .banner {
      margin-right: -78px;
      width: 143%;
    }

    .nosotros {
      font-size: 21px;
      margin-left: 13vh;
    }
    .vision {
      font-size: 19px;
      margin-left: 11vh;
    }
    .contenedores {
      margin-right: -74px;
    }
    .button {
      margin-left: 10vh;
    }
    .contenedor .encima {
      font-size: 17px;
      margin-left: 49px;
      margin-top: 19px;
    }

    li {
      text-align: center;
      font-size: 0.6rem;
      padding-right: 1rem;
    }
    .centrado {
      margin-top: 2.8vh;
      margin-left: 12.2vh;
    }
    .centrado2 {
      left: 27%;
    }
    .centrado3 {
      left: 71%;
    }
    .centrado4 {
      left: 74%;
    }
    .bg {
      width: 182%;
    }
  }
}
@media (max-width: 320px) {
  .logo {
    margin-right: -5rem;
  }
  #check:checked ~ ul {
    width: 158%;
  }
  .banner {
    margin-right: -86px;
    width: 165%;
  }

  .nosotros {
    font-size: 20px;
    margin-left: 15vh;
  }
  .vision {
    font-size: 21px;
    margin-left: 16vh;
  }
  .contenedores {
    margin-right: -74px;
  }
  .button {
    margin-left: 5.3rem;
  }
  .contenedor .encima {
    font-size: 17x;
    margin-left: -27px;
  }

  li {
    text-align: center;
    font-size: 8px;
    padding-right: 1rem;
  }
  .centrado {
    margin-top: 2.8vh;
    margin-left: 4vh;
  }
  .centrado2 {
    left: 13%;
  }
  .centrado3 {
    left: 67%;
    top: 6.9rem;
  }
  .centrado4 {
    left: 74%;
  }
  .bg {
    width: 216%;
  }
}
